<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<title>Register</title>
</head>
<body>
	<div class="login-page">
		<div class="form">
			<form class="login-form" th:action="@{/signup}" th:object="${user}"
				method="post">
				<!-- <label for="username">Username</label> <input type="text"
					th:field="*{username}" id="username" placeholder="Username must Between 3 and 50 characters"
					th:required="required" maxlength="32"> <span
					th:if="${#fields.hasErrors('username')}" th:errors="*{username}"> </span>  -->
					<label>Username</label>
				<div
					th:classappend="${#fields.hasErrors('username')} ? 'input-icon right' : ''">
					<i th:if="${#fields.hasErrors('username')}"
						class="fa fa-exclamation tooltips"
						data-original-title="please enter a valid first name"
						data-container="body"></i> <input type="text" class="form-control"
						 th:field="*{username}"
						placeholder="Username must Between 3 and 50 characters" /> <span
						th:if="${#fields.hasErrors('username')}" class="help-block"
						th:errors="*{username}"></span>
				</div>

				<label for="password">Password</label> <input type="password"
					th:field="*{password}" id="password" placeholder="password"
					th:required="required"> <span
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
				<br></br> <label for="firstname">Firstname</label> <input
					type="text" th:field="*{firstname}" id="firstname"
					placeholder="firstName" th:required="required"> <span
					th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>
				<br></br> <label for="lastname">LastName</label> <input type="text"
					th:field="*{lastname}" id="lastname" placeholder="lastname"
					th:required="required"> <span
					th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span><label
					for="email">Email</label> <input type="text" th:field="*{email}"
					id="email" placeholder="email" th:required="required"> <span
					th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				</span>
				<button>Sign Up</button>
			</form>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery.js"></script>
	<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
