<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${addStatus?'Add Book': 'Edit Book'}">Add Book</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/adminHome.css}" />
</head>
<body style="background-color: #D3D3D3;">
	<div th:replace="templates/header :: headertemplate"></div>
	<div class="form">
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}"></div>
		<form class="form-horizontal" action="#" th:action="@{/book}"
			th:object="${book}" th:method="post">
			<input type="hidden" th:field="*{isbn}" th:value="${book.isbn}" /> <input
				type="hidden" th:field="*{rating}" th:value="${book.rating}" />
			<div class="form-group">
				<label for="title" class="control-label col-sm-4">Title</label>
				<div class="col-sm-8">
					<input type="text" class="form-control" th:field="*{title}"
						id="title" placeholder="title must be 3-50 letters"
						th:required="required" th:minlength="3" th:maxlength="50">
				</div>
				<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-4" for="description">Description</label>
				<div class="col-sm-8">
					<textarea rows="3" class="form-control" th:field="*{description}"
						id="description" placeholder="description must be 3-1000 letters"
						th:required="required" th:minlength="3" th:maxlength="1000"></textarea>
					<span th:if="${#fields.hasErrors('description')}"
						th:errors="*{description}"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="publishingdate" class="control-label col-sm-4">Publishing
					Date</label>
				<div class="col-sm-8">
					<input type="date" th:field="*{publishingdate}" id="publishingdate"
						class="form-control" placeholder="publishingdate"
						th:required="required"> <span
						th:if="${#fields.hasErrors('publishingdate')}"
						th:errors="*{publishingdate}"></span>
				</div>
			</div>
			<div class="form-group">
				<label for="authors" class="control-label col-sm-4">Author</label>
				<div class="col-sm-8">
					<select th:field="*{idAuthors}" class="form-control"
						id="dropOperator" multiple="multiple" th:required="required">
						<option th:each="author : ${authors}" th:value="${author.id}"
							th:text="${author.firstname +' '+author.lastname}"></option>
					</select>
				</div>
			</div>
			<div class="container">
				<div class="row">

					<div class="text-center">
						<button class="btn btn-success" type="submit"
							th:text="${addStatus==true?'Add Book': 'Update Book'}"></button>
					</div>
				</div>
			</div>

		</form>
	</div>
	<footer th:replace="templates/footer :: footertemplate"> </footer>
</body>
</html>