<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add Book</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/adminHome.css}" />
</head>
<body  style="background-color:	#D3D3D3;">
	<div th:replace="templates/header :: headertemplate"></div>
	<div class="form">
		<form class="login-form" action="#" th:action="@{/book}"
			th:object="${book}" method="post">
			<label for="title">Title</label> <input type="text"
				th:field="*{title}" id="title" placeholder="title"> <span
				th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span> <label
				for="description">Description</label> <input type="text"
				th:field="*{description}" id="description" placeholder="description">
			<span th:if="${#fields.hasErrors('description')}"
				th:errors="*{description}"></span> <label for="publishingdate">Publishing
				Date</label> <input type="date" th:field="*{publishingdate}"
				id="publishingdate" placeholder="publishingdate"> <span
				th:if="${#fields.hasErrors('publishingdate')}"
				th:errors="*{publishingdate}"></span> <label for="authors">Author</label>
			<select th:field="*{idAuthors}" id="dropOperator" multiple="multiple">
				<option value="0">select operator</option>
				<option th:each="author : ${authors}" th:value="${author.id}"
					th:text="${author.firstname}"></option>
			</select> <input type="submit" value="Add Book">
		</form>
	</div>
	<footer th:replace="templates/footer :: footertemplate"> </footer>
</body>
</html>