<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link href="webjars/bootstrap/3.3.2/css/bootstrap.min.css"
	rel="stylesheet" media="screen" />
<script src="http://code.jquery.com/jquery.js"></script>
<script src="webjars/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/adminHome.css}" />
</head>
<body>
	<div th:replace="templates/header :: headertemplate"></div>
	<div class="jumbotron text-center">
		<h1>BOOKSTORE</h1>
		<p>
			Welcome to our Bookstore <span th:text="${user.firstname}"></span> <span
				th:text="${user.lastname}"></span>
		</p>
	</div>
	<div class="container text-center">
		<div class="row">
			<div>
				<h2>About BookStore History and Modern Area</h2>
				<br>
				<h4>Bookselling is the commercial trading of books which is the
					retail and destribution end of the publishing process. People who
					engage in bookselling are called booksellers,bookwomen or bookmen.
					The founding of libraries in 300BC stimulated the energies of the
					Athenian booksellers. In Rome , toward the end of republic, it
					became the fashion to have a library, and Roman booksellers carried
					on a flourishing trade</h4>
				<br>
				<p>Bookstores (called bookshops in the United Kingdom, Ireland,
					Australia and most of the Commonwealth, apart from Canada) may be
					either part of a chain, or local independent bookstores. Stores can
					range in size offering from several hundred to several hundred
					thousand titles. They may be brick and mortar stores or internet
					only stores or a combination of both. Sizes for the larger
					bookstores exceed half a million titles. Bookstores often sell
					other printed matter besides books, such as newspapers, magazines
					and maps; additional product lines may vary enormously,
					particularly among independent bookstores. Colleges and
					universities often have their own student bookstore on campus that
					focuses on providing course textbooks and scholarly books, although
					some on-campus bookstores are owned by large chains such as WHSmith
					or Waterstone's in the United Kingdom, or Barnes & Noble College
					Booksellers in the United States, which is a private firm
					controlled by the chair of Barnes & Noble. Another common type of
					bookstore is the used bookstore or second-hand bookshop which buys
					and sells used and out-of-print books in a variety of
					conditions. A range of titles are available in used
					bookstores, including in print and out of print books. Book
					collectors tend to frequent used book stores. Large online
					bookstores offer used books for sale, too. Individuals wishing to
					sell their used books using online bookstores agree to terms
					outlined by the bookstore(s): for example, paying the online
					bookstore(s) a predetermined commission once the books have sold.
					In Paris, the Bouquinistes are antiquarian and used booksellers who
					have had outdoor stalls and boxes along both sides of the Seine for
					hundreds of years, regulated by law since the 1850s and
					contributing to the scenic ambience of the city</p>
				<br>
			</div>

		</div>
	</div>
	<footer th:replace="templates/footer :: footertemplate"> </footer>
</body>
</html>