<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Authors</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/adminHome.css}" />
</head>
<body>
	<div th:replace="templates/header :: headertemplate"></div>
	<div th:switch="${authors}">
		<h2>
			All Authors <a th:href="@{/author/addAuthor}" class="btn btn-success">Add
				Author</a>
		</h2>

		<h2 th:case="null">No authors yet!</h2>
		<div th:case="*">

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Firstname</th>
						<th>Lastname</th>
						<th>Date Of Birth</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="author : ${authors}">
						<td th:text="${author.firstname}"></td>
						<td th:text="${author.lastname}"></td>
						<td th:text="${author.dateofbirth}"></td>
						<td><a th:href="@{/author/edit/{id}(id=${author.id})}"
							class="btn btn-default">Edit</a> <a class="btn btn-danger"
							data-toggle="modal" data-target="#modal-warning"
							th:attr="data-target='#modal-warning'+${author.id}">Delete</a>
							<div class="modal modal-warning fade in"
								th:id="modal-warning+${author.id}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
											<h5 class="modal-title">Delete User</h5>
										</div>
										<div class="modal-body">
											<h3>Are you sure want to delete this user?</h3>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline pull-left"
												data-dismiss="modal">Close</button>
											<a type="button" class="btn btn-outline"
												th:href="@{/author/delete/{id}(id=${author.id})}"><i
												class="fa fa-check"></i>&nbsp;Yes</a>
										</div>
									</div>
								</div>
							</div></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<footer th:replace="templates/footer :: footertemplate"> </footer>
</body>
</html>