<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Books</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/adminHome.css}" />
</head>
<body>
	<div th:replace="templates/header :: headertemplate"></div>
	<div th:switch="${books}">
		<h2>
			All Books In Our BookStore <a th:if="${session.user.role.id==1}"
				th:href="@{/book/AddBook}" class="btn btn-success">Add Book</a>
		</h2>


		<form action="#" th:action="@{/admin/bookList}" th:object="${utilDto}"
			class="form-inline" method="get">
			<div class="form-group">
				<label for="title">Title</label> <input id="title"
					th:field="*{searchedTitle}" type="text"
					placeholder="Search by title" name="search" class="form-control">
			</div>
			<div class="form-group">
				<label for="authorSelect">Author</label> <select
					class="form-control" th:field="*{idAuthor}" id="authorSelect">
					<option value="0">Select Author</option>
					<option th:each="author : ${authors}" th:value="${author.id}"
						th:text="${author.firstname +' '+author.lastname}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="pageSelect">Page</label> <select class="form-control"
					th:field="*{pageNumber}" id="pageSelect">
					<option value="0">Select Page</option>
					<option th:each="i: ${#numbers.sequence(1, totalpages)}"
						th:text="${i}" th:value="${i}"></option>
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Search</button>
			</div>

		</form>
		<h2 th:case="null">No books yet!</h2>
		<div th:case="*">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Title</th>
						<th scope="col">Description</th>
						<th scope="col">Publishing Date</th>
						<th scope="col">Authors</th>
						<th scope="col" th:if="${session.user.role.id==1}">Action</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="book : ${books}">
						<td scope="row" th:text="${book.title}"></td>
						<td th:text="${book.description}"></td>
						<td th:text="${book.publishingdate}"></td>
						<td><p th:each="author: ${book.bookauthors}"
								th:text="${author.firstname +' '+author.lastname}"></p></td>
						<td th:if="${session.user.role.id==1}"><a
							th:href="@{/book/edit/{isbn}(isbn=${book.isbn})}"
							class="btn btn-default">Edit</a></td>
						<td th:if="${session.user.role.id==1}"><a
							class="btn btn-danger" data-toggle="modal"
							data-target="#modal-warning"
							th:attr="data-target='#modal-warning'+${book.isbn}">Delete</a>
							<div class="modal modal-warning fade in"
								th:id="modal-warning+${book.isbn}">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal"
												aria-label="Close">
												<span aria-hidden="true">×</span>
											</button>
											<h5 class="modal-title">Delete Book</h5>
										</div>
										<div class="modal-body">
											<h3>Are you sure want to delete this book?</h3>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-outline pull-left"
												data-dismiss="modal">Close</button>
											<a type="button" class="btn btn-outline"
												th:href="@{/book/delete/{isbn}(isbn=${book.isbn})}"><i
												class="fa fa-check"></i>&nbsp;Yes</a>
										</div>
									</div>
								</div>
							</div></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="templates/footer :: footertemplate"> </footer>
</body>
</html>
